name: Build AML Mod
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: akat0sh/ak-build-action@v2
        with:
          ndk-version: r21e

